/* Modification du composant Carousel pour permettre le débordement */
.carousel, .carousel-inner {
    width: 110%;
    height: 100%;
    overflow: visible;
}

.container-fluid.mt-5 {
    margin-top: -100px !important;
    margin-left: -75px !important;
}

/* Styles pour l'effet de fondu */
.fade-enter, 
.fade-exit, 
.fade-enter-active, 
.fade-exit-active {
    transition: opacity 0.1s;
}

.fade-enter, 
.fade-exit-active {
    opacity: 0;
}

.fade-enter-active, 
.fade-exit {
    opacity: 1;
}

/* Styles par défaut pour le carousel et les images */
.carousel-item {
    position: relative;
    height: 1000px;
    width: 100%;
}

.carousel-item img.d-block {
    margin-top: 8%;
    margin-left: 1%;
    width: 65%;
    height: auto;
    object-fit: cover;
    object-position: center bottom;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.6);
}

.sharp-image {
    width: auto;
    height: 450px;
    position: absolute;
    top: 300px;
    left: 70%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.6);
}

/* Repositionnement des flèches de navigation */
.carousel-control-prev, .carousel-control-next {
    width: auto;  /* Redéfinir la largeur par défaut */
}

.carousel-control-prev {
    left: 9%;
    top: 155px;
}

.carousel-control-next {
    right: 9%;
    top: 155px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(16, 4, 122); /* couleur de fond des icônes */
    width: 40px; /* largeur de l'icône */
    height: 40px; /* hauteur de l'icône */
}

/* Ajout d'une ombre aux flèches pour une meilleure visibilité */
.carousel-control-prev,
.carousel-control-next {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));
}

/* Modification de la couleur des flèches */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: white; /* couleur des flèches au survol */
}

/* Styles pour le Dashboard */

.container-fluid.carousel-container {
    position: relative;
}

.carousel-layer {
    position: absolute;
    top: 0;
    left: 0;
}

.top-layer {
    z-index: 10;
}

/* Styles pour la section équipe */
.team-member {
    display: flex;
    align-items: center;
}

.team-photo {
    border-radius: 50%;
}

.carousel-text {
    position: absolute;
    top: 63%; /* Ajustez selon vos besoins */
    left: 0; /* Aligné à gauche */
    transform: translateX(10%); /* Un peu de marge à gauche */
    color: white; /* La couleur du texte */
    font-size: 1.5rem; /* Taille de la police */
    text-align: justify; /* Ajout de la justification du texte */
    text-align: left; /* Alignement du texte à gauche */
    z-index: 3; /* Assurez-vous que le texte est visible au-dessus des images */
    width: 50%; /* Prend la moitié de la largeur de l'écran */
  }
  
  .carousel-text h3 {
    font-size: 2.5rem; /* Taille de la police à 3 rem */
    font-weight: bold; /* Gras */
    color: white; /* Couleur du texte */
    text-transform: uppercase; /* Texte en majuscules */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre du texte */
    transition: color 0.3s ease; /* Transition pour la couleur */
    text-decoration: underline; /* Texte souligné */
  }
  
  /* Styles pour les tablettes */
  @media (max-width: 992px) {
    .carousel-text {
      font-size: 1.2rem; /* Taille de la police plus petite */
      width: 70%; /* Largeur plus grande pour une meilleure lisibilité */
    }
  
    .carousel-text h3 {
      font-size: 2rem; /* Taille de la police légèrement réduite */
    }
  }
  
  /* Styles pour les mobiles */
  @media (max-width: 768px) {
    .carousel-text {
      font-size: 1rem; /* Encore plus petit pour les mobiles */
      width: 90%; /* Utiliser presque toute la largeur disponible */
      transform: translateX(5%); /* Ajuster la marge */
    }
  
    .carousel-text h3 {
      font-size: 1.5rem; /* Adapter la taille du titre pour les mobiles */
    }
  }
  



@media (max-width: 992px) {
    .container-fluid.mt-5 {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
    .carousel-item {
        height: 1000px;
        width: 100%;
    }
    .carousel-item img.d-block {
        width: 80%;
        height: auto;
    }
    .sharp-image {
        height: 350px;
        top: 330px;
        left: 70%;
    }
    .carousel-control-prev, .carousel-control-next {
        width: auto;  /* Redéfinir la largeur par défaut */
    }
    
    .carousel-control-prev {
        left: 2%;
        top: 45%;
    }
    
    .carousel-control-next {
        right: 2%;
        top: 45%;
    }
}

/* Styles pour les mobiles en mode paysage */
@media (max-width: 768px) {
    .container-fluid.mt-5 {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
    .carousel-item {
        height: 800px;
        width: 100%;
    }
    .carousel-item img.d-block {
        margin-top: 5%;
        width: 80%;
        height: auto;
    }
    .sharp-image {
        height: 300px;
        top: 230px;
        left: 70%;
    }
    .carousel-control-prev, .carousel-control-next {
        width: auto;  /* Redéfinir la largeur par défaut */
    }
    
    .carousel-control-prev {
        left: 2%;
        top: 45%;
    }
    
    .carousel-control-next {
        right: 2%;
        top: 45%;
    }
}


/* Styles pour les mobiles en mode portrait */
@media (max-width: 576px) {
    .container-fluid.mt-5 {
        margin-top: 0px !important;
        margin-left: -35px !important;
    }
    .carousel-item {
        height: 550px;
        width: 100%;
    }
    .carousel-item img.d-block {
        width: 80%;
        height: auto;
    }
    .sharp-image {
        height: 250px;
        top: 130px;
        left: 75%;
    }
    .carousel-control-prev, .carousel-control-next {
        width: auto;  /* Redéfinir la largeur par défaut */
    }
    
    .carousel-control-prev {
        left: 2%;
        top: 45%;
    }
    
    .carousel-control-next {
        right: 2%;
        top: 45%;
    }
}
