.team-intro {
    font-weight: bold;
    margin-bottom: 20px;
}

.team-members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.team-member {
    width: 100%; /* Assurez-vous que chaque membre utilise toute la largeur */
    display: flex;
    flex-direction: column; /* Alignez les éléments du membre de l'équipe en colonne */
    align-items: center; /* Centre les éléments à l'intérieur de chaque membre de l'équipe */
    margin-bottom: 5px;
}

.team-photo {
    border-radius: 50%;
}

.team-member-name, .team-member-title {
    text-align: center;
    font-size: 1.5rem;
}
.team-member-title {
    color: #777;
    margin: 5px 0;
}

.team-member-description {
    margin: 0;
    color : black;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .team-members-container {
        display: block; /* Chaque membre s'affichera en colonne */
        overflow-x: hidden; /* Plus besoin de défilement horizontal */
    }

    .team-member {
        margin-right: 0; /* Supprime l'espace à droite pour les mobiles */
        margin-bottom: 20px; /* Espace entre les membres */
    }
    .mb-4 {
        margin-top: 35px; /* Augmentez cette valeur si nécessaire */
    }
}