.text-intro {
    align-items: justify;
}

.team-intro {
    font-weight: bold;
    margin-bottom: 20px;
}

.team-members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.team-member {
    width: 100%; /* Assurez-vous que chaque membre utilise toute la largeur */
    display: flex;
    flex-direction: column; /* Alignez les éléments du membre de l'équipe en colonne */
    align-items: center; /* Centre les éléments à l'intérieur de chaque membre de l'équipe */
    margin-bottom: 5px;
}

.team-photo {
    border-radius: 50%;
}

.team-member-name, .team-member-title {
    text-align: center;
    font-size: 1.5rem;
}
.team-member-title {
    color: #777;
    margin: 5px 0;
}

.team-member-description {
    margin: 0;
    color : black;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .team-members-container {
        display: block; /* Chaque membre s'affichera en colonne */
        overflow-x: hidden; /* Plus besoin de défilement horizontal */
    }

    .team-member {
        margin-right: 0; /* Supprime l'espace à droite pour les mobiles */
        margin-bottom: 20px; /* Espace entre les membres */
    }
    .mb-4 {
        margin-top: 35px; /* Augmentez cette valeur si nécessaire */
    }
}

.contact-card {
    margin-top: 35px; /* Ajouter de l'espace au-dessus de la section si nécessaire */
}

.contact-card-header {
    font-size: 1.5rem; /* Taille de la police du titre de la section */
    font-weight: bold; /* Gras pour le titre */
    text-align: center; /* Centrer le texte du titre */
    margin-bottom: 15px; /* Espacement en bas du titre */
}

.contact-card-body {
    font-size: 1rem; /* Taille de la police pour le texte dans le corps de la carte */
    color: #333; /* Couleur du texte */
    line-height: 1.5; /* Hauteur de ligne pour un meilleur espacement du texte */
    text-align: left; /* Alignement du texte à gauche */
}

.contact-card a {
    color: #007bff; /* Couleur des liens (email et téléphone) */
    text-decoration: none; /* Supprimer le soulignement des liens */
}

.contact-card a:hover {
    text-decoration: underline; /* Ajouter un soulignement au survol des liens */
}
