/* Styles existants */
.bg-image-le {
    background-image: url('src/assets/images/les-engages-p.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1; 
    height: 100vh;
}

.bg-image-le::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: -1;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    z-index: 2;
}

.slide-from-top {
    opacity: 1;
}

.slide-to-position {
    transform: translateY(0);
    opacity: 1;
}

.buttons-le {
    margin-top: 35%;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap; 
    width: 50%;
    justify-content: space-between; 
    width: 100%;
}

.button-le {
    display: inline-block;
    background: #0F365F;
    color: #fff;
    padding: 15px 20px; 
    margin: 0 5px; /* ajoute une petite marge pour espacer les boutons */
    width: calc(33.33% - 30px); /* ajuste la largeur pour tenir compte de la marge */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #0D2C4A;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 35px;
}

.button-le:hover {
    background: #0D2C4A;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .button-le {
        width: 100%; 
        margin: 0 0 20px 0; /* réinitialise la marge */
    }
    .buttons-le {
        flex-direction: column; 
        margin-top: 455px;
    }
}
