/* Styles existants */
.bg-image {
    background-image: url('src/assets/images/img-wara.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1; 
}

.bg-image::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: -1;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    z-index: 2;
}

.wara-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.les-engages-p {
    width: 65%;
    opacity: 0;
    transform: translateY(calc(-250%));
    transition: transform 1s, opacity 1s;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .bg-image {
        height: 70vh;
    }
    
    .les-engages-p {
        width: 100%;
        opacity: 0;
        transform: translateY(calc(-250%));
        transition: transform 1s, opacity 1s;
    }
}

.slide-from-top {
    opacity: 1;
}

.slide-to-position {
    transform: translateY(0);
    opacity: 1;
}

.wara-buttons {
    margin-top: 55px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    width: 100%; /* assure que les boutons prennent toute la largeur de leur conteneur */
}

.wara-button {
    display: inline-block;
    background: #0F365F;
    color: #fff;
    padding: 15px 20px; 
    margin: 0 5px; /* ajoute une petite marge pour espacer les boutons */
    width: calc(33.33% - 30px); /* ajuste la largeur pour tenir compte de la marge */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #0D2C4A;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 35px;
}

.wara-button:hover {
    background: #0D2C4A;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .wara-button {
        width: 100%; 
        margin: 0 0 20px 0; /* réinitialise la marge */
    }
    .wara-buttons {
        flex-direction: column; 
    }
}
