.underline-title {
    text-decoration: underline;
    text-decoration-thickness: 4px; /* ajustez cette valeur pour l'épaisseur souhaitée */
}

/* _nav.css */
.c-nav-title {
    font-weight: bold !important; /* Mettre le texte en gras */
    color: #ffffff !important; /* Changer la couleur à une teinte plus foncée */
  }
  
  